<mat-toolbar class="footer-container" color ="primary"*ngIf="footer.visible">
	<div class="text-center">
		<div class="title_1">Address:</div>
		<div>Sun View Beach Hotel,</div>
		<div>Beach Road,</div>
		<div>Pohaddaramulla,</div>
		<div>Wadduwa</div>
	</div>
	<div class="text-center_2">
		<div class="title_1" >Call Us : </div>
		<div><a  class="route" href="tel:+94383374374">+94 38 3 374374</a></div>
		<div class="title_1">Email:</div>
		<div><a class="route" href="" target="_hc|fBjwUygOzPpoSQ2N9rUXhHav" rel="noreferrer noopener">sunview@gmail.com</a></div>
	</div>
	
	<div class="text-center_3">
		<div class="title_1" >Menu : </div>
		<div>|	<a class="route" href="">Home</a> </div>  
		<div>|	<a class="route" href="/accomodation">Accomodation</a> </div>   
		<div>|	<a class="route" href="/dining">Dining</a> </div>  
		<div>|	<a class="route" href="/weddings">Events</a> </div>	      
		<div>|	<a class="route" href="/offers">Offers</a></div>	    
	</div>
  </mat-toolbar>