
	<footer class="footer">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/images/footer.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
				
					<div class="footer_content">
						<div class="row">
							<div class="col-lg-4 footer_col">
								<div class="footer_info d-flex flex-column align-items-lg-end align-items-center justify-content-start">
									<div class="text-center">
                    	<div>Address:</div>
                    <div>Sun View Beach Hotel,</div>
                    <div>Beach Road,</div>
                    <div>Pohaddaramulla,</div>
                     <div>Wadduwa</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 footer_col">
								<div class="footer_info d-flex flex-column align-items-center justify-content-start">
									<div class="text-center">
										<div>Call Us : </div>
                    <div><a  href="tel:+94383374374">+94 38 3 374374</a></div>
                    <div>Emial:</div>
                    <div><a  href="" target="_hc|fBjwUygOzPpoSQ2N9rUXhHav" rel="noreferrer noopener">sunview@gmail.com</a></div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 footer_col">
								<div class="footer_info d-flex flex-column align-items-lg-start align-items-center justify-content-start">
									<div class="text-center">
                    
										<div class="footer-nav">
                      <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="side-menu-data">
                <a href="">Home</a>   |
                <a href="/accomodation">Accomodation</a>    |
                <a href="/food-and-beverage">Dining</a>   |
                <a href="/weddings">Weddings</a>    |   
                <a href="/offers">Offers</a>    
                </ul></div>		
                
                  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
           
				</div>
			</div>
		</div>
	</footer>


<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/TimelineMax.min.js"></script>
<script src="assets/js/ScrollMagic.min.js"></script>
<script src="assets/js/animation.gsap.min.js"></script>
<script src="assets/js/ScrollToPlugin.min.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/easing.js"></script>
<script src="assets/js/progressbar.min.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/jquery-datepicker/jquery-ui.js"></script>
<script src="assets/js/custom.js"></script>