<!doctype html>
<html lang="en">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <div mat-card class="wrapper">
       
    <header class="signupheader">
        
        <h1>Sign In </h1>
    
    </header>
        <form method="post" action="" class="signupform" (ngSubmit)="login()">
      
        <div class="signupfield-prepend">
            <span class="signupform-addon"><i class="fa fa-envelope fa-2x"></i></span>
            <input
            name ="email" 
            class="signupformfield" 
            type="email" 
            placeholder="Email" 
            [(ngModel)]="email"
            #userName required>
           
        </div>
        <div class="signupfield-prepend">
            <span class="signupform-addon"><i class="fa fa-key fa-2x"></i></span>
            <input
            name ="password" 
            class="signupformfield" 
            type="password" 
            placeholder="Password" 
            [(ngModel)]="password"
            #userPassword required>
        </div>
        <div class="signupfield-prepend">
            <span style="font-family: 'Lato',Arial,sans-serif;color: #0e0923;" routerLink="/forgetpassword">Forgot Password?</span>    
            </div>
        <div class="signupfield-prepend">
            <button mat-button class="signupbtn" type="submit" (click)="authService.SignIn(userName.value, userPassword.value)" >Login </button>
        </div>
        <div class="signupfield-prepend">
            <span style="font-family: 'Lato',Arial,sans-serif;">Don't have an account?<span style="font-family: 'Lato',Arial,sans-serif;"class="links" routerLink="/signup"> Sign Up</span></span>
        </div>
        </form>
    </div>
    
</html>
