@import '~@angular/material/theming';

@mixin  navtabs-component-theme($hotelSystem){

    $primary : map-get($hotelSystem,primary);
    $accent : map-get($hotelSystem,accent);

    .navtabs{
        background-color: mat-color($primary,400);
        
    }
    .mytab{
        color:mat-color($accent);
        font-size: 20px;
    }
    .mat-list-option:hover,
    .mat-list-option.mat-list-item-focus,
    .mat-nav-list .mat-list-item:hover,
    .mat-nav-list .mat-list-item.mat-list-item-focus{
        background-color: mat-color($primary,300);
        color:mat-color($primary,800);
    }
    
}


