.toolbar-flex{
    flex: 1 0.5 auto;
    
}
.btn{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    color: white;
    background-color: #ff9000;

}
.btn_group{
    margin-left: 160px;
}

.mytab{
    color:white;
    font-size: 20px;
}
