@import '~@angular/material/theming';

@mixin  navtabs-component-theme($hotelSystem){

    $primary : map-get($hotelSystem,primary);
    $accent : map-get($hotelSystem,accent);

    .navtabs-container{
        background-color:mat-color($accent);   
    }
}


