<div class="mymenu">
  <mat-nav-list  >
    <a class="links" mat-list-item routerLink = '/accomodation'(click)="onToggleClose()">
    <mat-icon  >hotel</mat-icon>
    <span >  Accomodation</span>
    </a>
  </mat-nav-list>
  <mat-nav-list >
    <a class="links"  mat-list-item routerLink = '/food-and-beverage'(click)="onToggleClose()">
    <mat-icon  >local_dining</mat-icon>
    <span > Food And Beverage</span>
    </a>
  </mat-nav-list>
  <mat-nav-list >
    <a class="links"  mat-list-item routerLink = '/weddings'(click)="onToggleClose()">
    <mat-icon  >loyalty</mat-icon>
    <span > Weddings</span>
    </a>
  </mat-nav-list>
  <mat-nav-list >
    <a class="links"  mat-list-item routerLink = '/lifestyle'(click)="onToggleClose()">
    <mat-icon  >toys</mat-icon>
    <span > Life Style</span>
    </a>
  </mat-nav-list>
  <mat-nav-list >
    <a class="links"  mat-list-item routerLink = '/offers'(click)="onToggleClose()">
    <mat-icon  >loyalty</mat-icon>
    <span > Offers</span>
    </a>
  </mat-nav-list>
</div>
