@import '~@angular/material/theming';

@mixin  sidenav-list-component-theme($hotelSystem){


    $primary : map-get($hotelSystem,primary);
    $accent : map-get($hotelSystem,accent);

   
    mat-nav-list{
        background-color :mat-color($primary,900);
    }
    
    
    .mat-list-option:hover,
    .mat-list-option.mat-list-item-focus,
    .mat-nav-list .mat-list-item:hover,
    .mat-nav-list .mat-list-item.mat-list-item-focus{
        background-color: mat-color($primary,300);
        color:mat-color($primary,800);
    }

}