@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


.h2 {
	margin-bottom: 10px;
	font-weight: bolder;
	font-size: 1.5em;
	line-height: 0.8;
    font-family: 'Lato',Arial,sans-serif;
}

/* Form CSS*/
.form {
   margin: 0 auto;
	width: 400px;
		
}
.text-center{
    margin-left: 25px;
    color: #0e0923;
}
.field-prepend{
    margin-bottom:10px;
    margin-left: 22px;
	width:100%;
}

.form-addon{
	color:#ff9000; 
	float:left;
	padding:8px;
	width:10%;
	background: #ffffff;;
	text-align:center;
	align-self: center;	
}

.formfield {
	color:#0e0923; 
	background:#FFFFFF;
	border-color: #fafafa;
	padding:10.5px;
	width:65%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
}


.btn{
    font-family: 'Lato',Arial,sans-serif;
	display:block;
	border:none;
	background: #ff9000;
	color:#ffffff;
	cursor:pointer;
	text-decoration:none;
    font-weight:bolder;
    height: 40px;
    width: 120px;
}
.btn:hover{
	background:#0e0923;
	color: #ff9000;
}
.credit {
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px; 
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #000;
font-weight: bold;
text-decoration: none;
}
.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
} 
  
.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
}