<!-- <div class="row">
  <div class="cl-xs-12">
    <button class="btn btn-success">New Meals</button>

  </div> 
</div>
<div class ="row">
  <div class="cl-xs-12">
    <a href="#" 
      class="list-group-item clearfix"  
      *ngfor="let Meals of dining">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{meals.name}}</h4>
        <p class="list-group-item-text">{{meals.description}} </p>
      </div>
        <span class="pull-right">
          <img 
          [src]="meals.imagepath"
           alt="{{meals.name}}" 
           class="img-responsive" style="max-height:50px">
          
        </span>
      </a>
      <app-meals-item></app-meals-item>
   

  </div>

</div>
 -->
