@import '~@angular/material/theming';

@mixin  header-component-theme($hotelSystem){


    $primary : map-get($hotelSystem,primary);
    $accent : map-get($hotelSystem,accent);

    .btn{
        color :mat-color($accent,300);
    }
   
}