<mat-toolbar color ="primary">
  <div>
    <button mat-icon-button [routerLink]="['/']" routerLinkActive="mat-accent" >
        <mat-icon >home</mat-icon>
      
    </button>
  </div>
  <div class="logo-container">
    <div fxLayout="column" fxLayoutAlign= "center center">
        <img class="logo" src="/assets/images/logo.png" >
    </div>
    
  </div>
  
  
    <a class="head" mat-list-item routerLink = '/sign-in'>
      <mat-icon >input</mat-icon>
      <span >SignIn</span>
      </a>
  
    <a class="head" mat-list-item routerLink = '/sign-up'>
      <mat-icon >account_circle</mat-icon>
      <span>SignUp  </span>
      </a>
  
  
</mat-toolbar>


