<mat-toolbar color ="primary">
  <div>
    <button mat-icon-button (click)="onToggleOpenSidenav()" >
        <mat-icon color = "accent">menu</mat-icon>
    </button>
  </div>
  <div class="logo-container">
    <div fxLayout="column" fxLayoutAlign= "center center">
        <h5>Hotel </h5>
        <h1>Sun View Beach</h1>
    </div>
    
  </div>
  
  
    <a class="head" mat-list-item routerLink = '/sign-in'(click)= "onToggleClose()">
      <mat-icon color = "accent">input</mat-icon>
      <span >SignIn</span>
      </a>
  
    <a class="head" mat-list-item routerLink = '/sign-up'(click)="onToggleClose()">
      <mat-icon color = "accent">account_circle</mat-icon>
      <span>SignUp  </span>
      </a>
  
  
</mat-toolbar>


