.logo-container {
    width: 100%;
    

}

.logo {
    width: 100px;
    height: 11vh;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    color: white;
    background-color: #ff9000;

}
.header-container{
    height: 100px;
}
