<mat-toolbar color ="primary">
  <div>
    <button class="btn" mat-icon-button [routerLink]="['/']" routerLinkActive="mat-accent" >
        <mat-icon style="size :20px">home</mat-icon>
      
    </button>
  </div>
  <div class="logo-container">
    <div fxLayout="column" fxLayoutAlign= "center center">
        <img class="logo" src="/assets/images/logo.png" >
    </div>
    
  </div>
  <div>
    <button class="btn"mat-icon-button [routerLink]="['/sign-in']" routerLinkActive="mat-accent" >
        LOGIN
    </button>
  </div>
  <div>
    <button class="btn" mat-icon-button [routerLink]="['/sign-up']" routerLinkActive="mat-accent" >
      SIGN UP
    </button>
  </div>
  

  
</mat-toolbar>


