@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);



.container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url('/assets/images/background_1.gif');
	z-index: 101;
	height: 640px;
	border-bottom: solid 2px #ff9000;
}

.logo{
	height: 100px;
	width: 100px;
}
.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #ffffff; 
    font-size: 25px; 
    font-weight: bold; 
} 
  
.close:hover{ 
    color:#ff9000; 
	cursor: pointer; 
	font-weight: bolder;
}
.wrapper{
	background: rgba(8,4,10,0.88);
	border: solid 2px #ff9000;
	width: 450px;
	height: 375px;
	position: inherit;
	margin-top: 25px;
	margin-left: 445px;
	

}
.signupheader {
	margin: 0 auto;
	padding: 2em;
	text-align: left;
}

.signupheader h1 {
	margin: 0;
	font-weight: bolder;
	font-size: 1.5em;
	font-family: 'Lato',Arial,sans-serif;
	line-height: 1.3;
	color: #ffffff;
}

/* Form CSS*/
.signupform {
   margin: 0 auto;
	width: 400px;
		
}
.signupfield-prepend{
    margin-bottom:10px;
    margin-left: 22px;
	width:100%;
}

.signupform-addon{
	color:#ff9000; 
	float:left;
	padding:8px;
	width:10%;
	background: transparent;
	text-align:center;
	align-self: center;	
}

.signupformfield {
	color:#0e0923; 
	background:#FFFFFF;
	border-color: #fafafa;
	padding:10.5px;
	width:65%;
	height: 15px;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
}


.signupbtn{
	display:block;
	border:none;
	background:#ff9000;
	color:#ffffff;
	cursor:pointer;
	text-decoration:none;
    font-weight:bolder;
    margin-left: 140px;
    margin-top: 20px;
    height: 40px;
    width: 80px;
}
.signupbtn:hover{
	background:#ffffff;
	color: #ff9000;
}
.btn{
	font-family: 'Lato',Arial,sans-serif;
	color: #ff9000;
	background: transparent;
	font-weight: 400;
	font-size: 15px;
}
.btn:hover{
	color: #ffffff;
}
.credit {
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px; 
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #000;
font-weight: bold;
text-decoration: none;
}
