@import '~@angular/material/theming';

@include mat-core();

$primary : (
    50 : #e2e1e5,
    100 : #b7b5bd,
    200 : #878491,
    300 : #565365,
    400 : #322e44,
    500 : #0e0923,
    600 : #0c081f,
    700 : #0a061a,
    800 : #080515,
    900 : #04020c,
    A100 : #5050ff,
    A200 : #1d1dff,
    A400 : #0000e9,
    A700 : #0000cf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$accent : (
    50 : #fff2e0,
    100 : #ffdeb3,
    200 : #ffc880,
    300 : #ffb14d,
    400 : #ffa126,
    500 : #ff9000,
    600 : #ff8800,
    700 : #ff7d00,
    800 : #ff7300,
    900 : #ff6100,
    A100 : #ffffff,
    A200 : #fff6f2,
    A400 : #ffd3bf,
    A700 : #ffc2a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($primary,500,300,900);
$accent:  mat-palette($accent,500,400,700);

$hotelSystem-warn:  mat-palette($mat-red);
$hotelSystem: mat-light-theme($primary, $accent, $hotelSystem-warn);

@import './app/navigation/navtabs/navtabs.component-theme.scss';
@import './app/navigation/sidenav-list/sidenav-list.component-theme.scss';
@import './app/navigation/header/header.component-theme.scss';

@include angular-material-theme($hotelSystem);

//navigate to navtabs-component-theme.scss file
@include navtabs-component-theme($hotelSystem);

@include sidenav-list-component-theme($hotelSystem);

@include header-component-theme($hotelSystem);

//footer
footer{
    background-color: mat-color($primary,500);
}


