@import '~@angular/material/theming';

@include mat-core();

$primary : (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$accent : (
    50 : #fefce3,
    100 : #fdf8b9,
    200 : #fbf38a,
    300 : #f9ee5b,
    400 : #f8ea37,
    500 : #f7e614,
    600 : #f6e312,
    700 : #f5df0e,
    800 : #f3db0b,
    900 : #f1d506,
    A100 : #ffffff,
    A200 : #fffce6,
    A400 : #fff5b3,
    A700 : #fff199,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($primary,500,300,900);
$accent:  mat-palette($accent,500,400,700);

$hotelSystem-warn:  mat-palette($mat-red);
$hotelSystem: mat-light-theme($primary, $accent, $hotelSystem-warn);

@import './app/navigation/navtabs/navtabs.component-theme.scss';
@import './app/navigation/sidenav-list/sidenav-list.component-theme.scss';
@import './app/navigation/header/header.component-theme.scss';

@include angular-material-theme($hotelSystem);

//navigate to navtabs-component-theme.scss file
@include navtabs-component-theme($hotelSystem);

@include sidenav-list-component-theme($hotelSystem);

@include header-component-theme($hotelSystem);

//footer
footer{
    background-color: mat-color($primary,700);
}

.menu-footer-menu-container{
    color:mat-color($accent,400);
}

footer {
    color: mat-color($accent,400);
    
}

.route{
    color: mat-color($accent,400);
}

