<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="home">
	<div class="booking-form">
    <form method="post" action="" class="reservform"  >
	
    <div class="reservfield-prepend">
		<span class="reservform-addon">Check In</span>
		<input
		name = "name"
		class="reservformfield" 
		type="date" >
		<span class="reservform-addon">Check Out</span>
		<input
		name = "name"
		class="reservformfield" 
		type="date" >
	</div>
	<div class="reservfield-prepend">
			<span class="reservform-addon">No. of Rooms</span>
			
		<span class="reservform-addon">Adults</span>
			
			<span class="reservform-addon">Children</span>
			
	</div>
	<div class="reservfield-prepend">
		
			<select class="reservformfield-1">
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
			<select class="reservformfield-1">
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
				<select class="reservformfield-1">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
	
	</div>
    <div class="reservfield-prepend">
        <button mat-button class="reservbtn" type="submit" >Check Availability </button>
    </div>
	</form>
</div>
</div>
