<div class="container">
  
  <div class="book-now-container">
    <div fxFlex fxFlexLayoutAlign= "flex-end">
        <button mat-stroked-button color="accent" style="font-weight:bolder"> 
          Book Now
        </button>
    </div>
  </div>
</div>
<footer>
    <div class="social-links-footer">
      <a class = "route" href="#_" class="facebook-dropdown"></a>
       </div>
  
    <div class="left-section">
      <p>Sun View Beach Hotel,<br>
  175, Lewis Place,<br>
  Negombo,<br>
  Sri Lanka.<br>
  Tel: <a class = "route" href="tel:+94317431431">+94 317 431 431</a><br>
  Fax: +94 112 433 755<br>
  Email:&nbsp;<a class = "route" href="" target="_hc|fBjwUygOzPpoSQ2N9rUXhHav" rel="noreferrer noopener">sunview@gmail.com</a></p>
    </div>    
    <div class="right-section">
      <div class="footer-nav">
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="side-menu-data">
  <a class = "route" href="">Home</a>   |
  <a class = "route" href="/accomodation">Accomodation</a>    |
  <a class = "route" href="/food-and-beverage">Dining</a>   |
  <a class = "route" href="/weddings">Weddings</a>    |   
  <a class = "route" href="/offers">Offers</a>
  </ul></div>		</div>
 
    </div>  
    <div class="clear"></div>
    <div class="footer-bottom">
      <div class="left-section">
        <p>Copyright © 2019.</p>
      </div>
      <div class="right-section">
        <p>Design By : <a class="route" href="" target="_hc|fBjwUygOzPpoSQ2N9rUXhHav">Pyxle</a></p> 
      </div>
      <div class="clear"></div>
    </div>  
  </footer>

